
.ais-Hits-list {

   
 display: flex;
 flex-wrap : wrap;
 justify-content: center;
}

.ais-Hits-item {
  
    display: flex;
    flex-direction: column;
    flex: 1 0 21%; 

 

}

.ais-Hits-item article {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.ais-Pagination-list {
    display: flex;
    justify-content: center;
}

.ais-Pagination-list li {
    border-radius: 10px;
    margin:5px;
    padding:5px 10px;
    cursor: pointer;
    border:1px solid lightgray
}

.ais-Pagination-list li.ais-Pagination-item--selected {

    background-color: lightgray;
}